
@font-face {
  font-family: swiss721;
  src: url("../fonts/swiss721.ttf");
}
:root {
  --main-color: #233240;
  --second-color: #596977;
  --third-color: #ef3e42;
  --main-bg: #ffffff;
}
body {
  position: relative;
  width: 100vw;
}
header {
  padding: 2rem 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7) ;
  position: absolute;
  z-index: 20;
  top: 0;
}
footer {
  background-color: var(--main-color);
}
ul >li {
  font-size: 2rem;
}
ul >li:hover {
  cursor: pointer;
}
main {
  position: relative;
  top:0;
  z-index: 10;
}
.logo {
  max-width: 115px;
  overflow-x: hidden;
}

.text-main-color{
  color: var(--main-color);
}
.text-second-color{
  color: var(--second-color);
}
.text-third-color{
  color: var(--third-color);
}
.bg-third-color {
  background-color: var(--third-color) !important;
  color: #fff !important;
  background-color: var(--third-color) !important;
  border-color: var(--third-color) !important;
}

.content-about-area {
  width: 90%;
  background-color: var(--main-color);
  margin: auto auto;
  transform: translateY(-100px);
  border-radius: 20px;
}
.custom-navbar {
  position: absolute;
  padding: 1rem;
  left: 0;
  top:0;
}
.call-icon {
    width: 45px;
    height: 45px;
    display: block;
    background-image: url(../img/phone-call.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: 5;
  }
.address-icon {
  width: 45px;
  height: 45px;
  display: block;
  background-image: url(../img/address.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 5;
}
.text-carousel {
font-family: swiss721;
}

.carousel-item {
  position: relative;
}
.carousel-caption {
  position: absolute;
  top: 40%;
}
.rank-img {
  max-height: 500px;
}
.about-area-item {
  padding: 3rem;
}
.card-img-top:hover {
  transform: scale(1.2) !important;
  transition: all .5s;
}
.card-img-top {
  width: 300px !important;
  height: 200px !important;
}
.whatsapp-container {
  position: fixed;
  bottom: 4rem;
  right: 2rem;
  width: 70px;
  height: 70px;
  z-index: 100;
  opacity: .5;
}
.whatsapp-container:hover, .whatsapp-container:focus {
  opacity: 1;
}
@media screen and (max-width: 1024px){
  .logo {
    max-width: 115px;
  }
  .about-area-item {
    padding: 2rem;
  }

}
@media screen and (max-width: 768px){

  .logo {
    max-width: 110px;
  }
  .boton-menu {
    max-width: 70px;
  }
  header{
    /*background-color: white;*/
  }
  .dropdown-item {
    font-size: 2.8rem;
  }
  .about-area-item {
    padding: 1rem;
  }

}
@media screen and (max-width: 420px) {

  header{
    background-color: white;
  }
main{
  top:150px;
}
  .logo {
    max-width: 75px;
  }
  .maps {
    max-width: 320px;
  }
  .boton-menu {
   max-width: 50px;
  }
  .dropdown-item {
    font-size: 1.8rem;
  }
  .about-area {
    /*background-color: var(--main-color);*/
  }
  .carousel-caption {
    top: 10px
  }
  .about-area-item {
    padding: 1rem;
  }
  .content-about-area {
    transform: translateY(-50px);
    overflow: visible !important;
  }
  .content-container{
    margin-top:1rem;
  }


 }
